<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header-head">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../../webjars/bootstrap/5.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/public/css/index.css}" />
</head>

<body>
<div th:fragment="header">
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <a href="/" style="font-size: 30px; font-weight: 800;" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        Online Store
                    </a>
                </div>

                <div class="d-flex align-items-center">
                    <div class="cartHeaderContainer" style="margin-right: 25px">
                        <a href="/cart">
                            <div class="cartNumberContainer" th:if="${cartCount != null}">
                                <span th:text="${cartCount}"></span>
                            </div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-cart" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                        </a>
                    </div>
                    <div class="text-end" sec:authorize="!isAuthenticated()">
                        <a th:href="@{/login}" type="button" class="btn btn-outline-light me-2">Login</a>
                        <a th:href="@{/signup}" type="button" class="btn btn-outline-light me-2">Sign-up</a>
                    </div>
                    <div class="text-end" sec:authorize="isAuthenticated()">
                        <a th:href="@{/user}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
</body>
</html>